*
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}

body
{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.cointainer
{
   background-color: gray ;
   display: flex;
   padding: 10px;
   width: 470px;
   margin: 100px 0px 0px;
}

button
{
    border-radius: 0px;
}